binaries/lucid/*
!binaries/lucid/index*.json
binaries/precise/*
!binaries/precise/index*.json
binaries/trusty/*
!binaries/trusty/index*.json
*.pyc
*.swp
/env
*_buildpack*.zip
/log/
*.DS_Store
.bundle
DebugKit
/pkg/
!vendor/**
/.bin/
.idea
.vscode/
Dockerfile