binaries/lucid/*
!binaries/lucid/index*.json
binaries/precise/*
!binaries/precise/index*.json
binaries/trusty/*
!binaries/trusty/index*.json
*.pyc
*.swp
/env
*_buildpack*.zip
/log/
vendor
*.DS_Store
.bundle
